// 顏色
$color-primary: #aa0601;
$color-primary-100: #650300;
$color-primary-200: #9f1213;

$color-secondary: #fbf2f2;

$color-dark: #707070;
$color-dark-100: #555555;
$color-dark-200: #495057;

$color-light: #dee2e6;
$color-light-100: #f2f2f2;
$color-light-200: #DCDCDC;

$color-white: #fff;
$color-black: #000;

$color-brown: #5F3E2D;
$color-brown-100: #B75929;

// 字體
$font-family-base: "Roboto", "Noto Sans TC", "sans-serif";

$font-size-base: 16px;
$font-size-1-2-5: $font-size-base * 1.25;

$font-size-1-5: $font-size-base * 1.5;

$font-size-2: $font-size-base * 2;

$font-size-2-2-5: $font-size-base * 2.25;

$font-size-3: $font-size-base * 3;

$font-size-4: $font-size-base * 4;

$line-height-base: 1.5;

// 間距
$spacer: 8px;

$spacer-0-5: $spacer * 0.5;

$spacer-1-5: $spacer * 1.5;

$spacer-2: $spacer * 2;

$spacer-3: $spacer * 3;

$spacer-4: $spacer * 4;

$spacer-4-5: $spacer * 4.5;

$spacer-5: $spacer * 5;

$spacer-6: $spacer * 6;

$spacer-7-5: $spacer * 7.5;

$spacer-8: $spacer * 8;

$spacer-10: $spacer * 10;

$spacer-12: $spacer * 12;

$spacer-15-5: $spacer * 15.5;
