<header class="header bg-primary">
    <div
        class="container container-sm-fluid d-flex flex-wrap justify-between align-center pt-0-5 pb-0-5 pt-sm-0 pb-sm-0">
        <div>
            <a href="./index.html">
                <img class="header__image"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                    alt="logo">
            </a>
        </div>
        <ul class="navbar">
            <li class="navbar__item">
                <a class="navbar__btn text-white" href="./product-optical.html">系列鏡框</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__btn text-white" href="./stores.html">門市據點</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__btn text-white" href="./blog.html">部落格</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__btn text-white" href="./faq.html">常見問題</a>
            </li>
        </ul>
    </div>
</header>