// 12*86 + 11 * 24 = 1296px + 24(padding-x)
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: $spacer-1-5;
  padding-right: $spacer-1-5;
}

.container-md {
  @include pad {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: $spacer-1-5;
    padding-right: $spacer-1-5;
  }
}

.container-sm-fluid {
  @include mobile {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.container-xsm-fluid{
  @include mobile-small {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}
