.footer {
  &-main {
    display: flex;
    justify-content: space-between;
    padding-top: $spacer-6;
    padding-bottom: $spacer-4;
    border-bottom: 1px solid $color-white;
    @include mobile {
      padding-top: $spacer-3;
      padding-bottom: $spacer-3;
    }
  }
  &-navbar {
    display: flex;
    gap: 48px;

    @include mobile {
      display: none;
    }
  }
  &-contactList {
    &__btn {
      font-size: 36px;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.5;
      }
      @include mobile {
        font-size: $font-size-base;
      }
    }
    &__icon {
      font-size: 32px;
      margin-right: $spacer-2;
      @include mobile {
        font-size: $font-size-base;
        margin-right: $spacer;
      }
    }
  }
  &-snsBtns {
    display: flex;
    gap: 32px;
    @include mobile {
      gap: 8px;
    }
    &__item {
      width: 48px;
      @include mobile {
        width: 24px;
      }
    }
  }

  &-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: $spacer-4;
    padding-bottom: $spacer-4;

    @include mobile {
      flex-direction: column;
      gap: 8px;
      padding-top: $spacer-2;
      padding-bottom: $spacer-3;
    }

    &__list {
      display: flex;
      gap: 48px;
      @include mobile {
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}
