.faq {
  padding-top: $spacer-12;
  padding-bottom: $spacer-10;

  @include pad {
    padding-top: $spacer-10;
  }
  @include mobile {
    padding-top: $spacer-5;
    padding-bottom: $spacer-8;
  }

  &__title {
    @include common-title;
  }

  &__subTitle {
    font-size: $font-size-1-5;
    font-weight: bold;
    margin-bottom: $spacer-3;
  }

  &-card {
    margin-bottom: $spacer-4;
    @include mobile {
      margin-bottom: $spacer-3;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      font-size: $font-size-1-2-5;
      font-weight: bold;
      margin-bottom: $spacer;
    }
  }
}
