<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網(Vite)-W4 24切版直播班</title>

    <!-- 字體載入: Roboto 、 Noto Sans TC -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Material Symbols -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <%- include('./layout/header'); -%>

        <main class="productOptical">
            <div class="productOptical__tab-bar">
                <div class="container container-xsm-fluid">
                    <ul class="tab-bar">
                        <li class="tab-bar__item"><a href="./product-optical.html"
                                class="tab-bar__btn tab-bar__btn--active">OPTICAL</a></li>
                        <li class="tab-bar__item"><a href="./product-sunglasses.html"
                                class="tab-bar__btn">SUNGLASSES</a></li>
                        <li class="tab-bar__item"><a href="#" class="tab-bar__btn">FUNCTIONAL</a></li>
                    </ul>
                </div>
            </div>
            <div class="productOptical-banner container-md container-xsm-fluid">
                <div class="productOptical-banner__block"></div>
                <div class="productOptical-banner__block"></div>
            </div>

            <section class="productOptical-products">
                <div class="container">
                    <div class="productOptical-products__titles">
                        <h1 class="productOptical-products__title">Celluloid Combi</h1>
                        <h2 class="productOptical-products__subTitle">賽璐珞鈦金屬混合鏡框</h2>
                    </div>
                    <ul class="productOptical-products__list">
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="商品a" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="商品b" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="商品c" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="商品d" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="商品e" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="商品f" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="商品a" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="商品b" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="商品c" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="商品d" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="商品e" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productOptical-products__item">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="商品f" class="card__img">
                                <div class="card__details">
                                    <h5 class="card__title">BJ41600S</h5>
                                    <p class="card__price">NTD3,490</p>
                                </div>
                                <ul class="card__colors">
                                    <li class="card__color"></li>
                                    <li class="card__color"></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <nav class="pagination">
                        <ul class="pagination__list">
                            <li class="pagination__item"><a href="#" class="pagination__link pagination__link--prev">上一頁</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__link">1</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__link pagination__link--active">2</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__link">4</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__link">5</a></li>
                            <li class="pagination__item"><a href="#" class="pagination__link pagination__link--next">下一頁</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
        </main>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>